<footer >
        <div class=" top-footer">
            <div>
                <div class="brand flex-c gap05">
                    <div class="brand-img"></div>
                    <h3>CS Luxury</h3>
                </div>
                <p class="about-brand">Quality wears and essential gadgets,<br />in one convenient place,<br />shop with ease today.</p>
                <div class="flex-c gap05 ">
                    <a href="https://www.instagram.com/cs_luxury_store" target="_blank"><div class="greenoutline"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#013f45" viewBox="0 0 256 256"><path d="M128,80a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160ZM176,24H80A56.06,56.06,0,0,0,24,80v96a56.06,56.06,0,0,0,56,56h96a56.06,56.06,0,0,0,56-56V80A56.06,56.06,0,0,0,176,24Zm40,152a40,40,0,0,1-40,40H80a40,40,0,0,1-40-40V80A40,40,0,0,1,80,40h96a40,40,0,0,1,40,40ZM192,76a12,12,0,1,1-12-12A12,12,0,0,1,192,76Z"></path></svg></div></a>
                    <a href="https://www.tiktok.com/@cs.luxury" target="_blank"><div class="greenoutline"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#013f45" viewBox="0 0 256 256"><path d="M224,72a48.05,48.05,0,0,1-48-48,8,8,0,0,0-8-8H128a8,8,0,0,0-8,8V156a20,20,0,1,1-28.57-18.08A8,8,0,0,0,96,130.69V88a8,8,0,0,0-9.4-7.88C50.91,86.48,24,119.1,24,156a76,76,0,0,0,152,0V116.29A103.25,103.25,0,0,0,224,128a8,8,0,0,0,8-8V80A8,8,0,0,0,224,72Zm-8,39.64a87.19,87.19,0,0,1-43.33-16.15A8,8,0,0,0,160,102v54a60,60,0,0,1-120,0c0-25.9,16.64-49.13,40-57.6v27.67A36,36,0,1,0,136,156V32h24.5A64.14,64.14,0,0,0,216,87.5Z"></path></svg></div></a>
                    <a href="mailto:ifenna01@gmail.com" target="_blank"><div class="greenoutline"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#013f45" viewBox="0 0 256 256"><path d="M224,48H32a8,8,0,0,0-8,8V192a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A8,8,0,0,0,224,48Zm-96,85.15L52.57,64H203.43ZM98.71,128,40,181.81V74.19Zm11.84,10.85,12,11.05a8,8,0,0,0,10.82,0l12-11.05,58,53.15H52.57ZM157.29,128,216,74.18V181.82Z"></path></svg></div></a>
                    <a href="https://wa.me/2349018802095" target="_blank"><div class="greenoutline"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#013f45" viewBox="0 0 256 256"><path d="M187.58,144.84l-32-16a8,8,0,0,0-8,.5l-14.69,9.8a40.55,40.55,0,0,1-16-16l9.8-14.69a8,8,0,0,0,.5-8l-16-32A8,8,0,0,0,104,64a40,40,0,0,0-40,40,88.1,88.1,0,0,0,88,88,40,40,0,0,0,40-40A8,8,0,0,0,187.58,144.84ZM152,176a72.08,72.08,0,0,1-72-72A24,24,0,0,1,99.29,80.46l11.48,23L101,118a8,8,0,0,0-.73,7.51,56.47,56.47,0,0,0,30.15,30.15A8,8,0,0,0,138,155l14.61-9.74,23,11.48A24,24,0,0,1,152,176ZM128,24A104,104,0,0,0,36.18,176.88L24.83,210.93a16,16,0,0,0,20.24,20.24l34.05-11.35A104,104,0,1,0,128,24Zm0,192a87.87,87.87,0,0,1-44.06-11.81,8,8,0,0,0-6.54-.67L40,216,52.47,178.6a8,8,0,0,0-.66-6.54A88,88,0,1,1,128,216Z"></path></svg></div></a>
                </div>
            </div>
            <div class="c-horiz">
                <div>
                    <p class="first">Category</p>
                    <% categories.forEach(c => { %>
                        <a href="product/<%= c.id %>"><p><%= c.name.charAt(0).toUpperCase() + c.name.slice(1) %></p></a>
                    <% }); %>
                </div>
            </div>
            <div>
                <p class="first">Address</p>
                <p>No. 1 Onyebuchi avenue, New Jerusalem plaza, Ago palace, Oshodi-Isolo, Lagos State.</p>
            </div>
        </div>
        <div class="bottom-footer" >
            <p>@2026 - Designed & Developed by <a href="https://kingsleyev.vercel.app/" target="_blank"><span class="thick">Kingsley</span></a></p>
        </div>
    </footer>
    <a class="wa-float" href="https://wa.me/2349018802095" target="_blank">
        <svg width="30" height="30" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill="#fff" d="M16 3C9.373 3 4 8.373 4 15c0 2.385.668 4.61 1.832 6.505L4 29l7.697-1.813A12.94 12.94 0 0016 28c6.627 0 12-5.373 12-12S22.627 3 16 3zm0 2c5.523 0 10 4.477 10 10s-4.477 10-10 10a10.95 10.95 0 01-5.29-1.354l-.371-.214-4.573 1.077 1.104-4.46-.23-.382A9.96 9.96 0 016 15c0-5.523 4.477-10 10-10zm-3.3 5.5c-.2 0-.52.075-.795.375-.273.3-1.045 1.02-1.045 2.487s1.07 2.887 1.22 3.087c.15.2 2.07 3.262 5.087 4.45.71.307 1.265.49 1.697.628.713.227 1.362.195 1.875.118.572-.085 1.762-.72 2.012-1.415.25-.695.25-1.29.175-1.415-.075-.125-.275-.2-.575-.35-.3-.15-1.762-.87-2.035-.97-.274-.1-.474-.15-.674.15-.2.3-.773.97-.948 1.17-.175.2-.35.225-.65.075-.3-.15-1.265-.467-2.41-1.487-.891-.793-1.492-1.774-1.667-2.074-.175-.3-.018-.462.132-.612.134-.134.3-.35.45-.525.15-.175.2-.3.3-.5.1-.2.05-.375-.025-.525-.075-.15-.674-1.625-.924-2.225-.243-.584-.49-.505-.674-.514-.175-.009-.375-.011-.575-.011z"/>
        </svg>
    </a>
    <script src="/script.js"></script>
</body>
</html>