* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* my personal standard*/
h2 {
    font-size: 28px;
}
h3 {
    font-size: 24px;
}
.flex-sb-c {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flex-c {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gap025 {
    gap: 0.25rem;
}
.gap05 {
    gap: 0.5rem;
}
.gap1 {
    gap: 1rem;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black
}
.whiteback {
    background-color: white;
    border-radius: 8px;
    padding: 0.25rem 0.5rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.greyback {
    background-color: #F0F2F3;
    border-radius: 8px;
    padding: 0.5rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gback {
    background-color: #029FAE;
    border-radius: 8px;
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*header*/
header {
    position: fixed;
    z-index: 10;
    width: 100%;
}
.pre-header {
    height: 45px;
    background-color: #272343;
    color: white;
    font-size: 12px;
    padding: 1rem 5rem;
}
.main-header {
    background-color: #F0F2F3;
    font-size: 14px;
    padding: 1rem 3rem;
}
.brand-img {
    border: 1px solid blue;
    width: 32px;
    height: 32px;
}
.brand p {
    font-size: 26px;
    font-weight: bold;
}

.greenback {
    background-color: #007580;
    border-radius: 50%;
    padding: 0.1rem 0.4rem;
    color: white;
}
.greenoutline {
    border: 1px solid #013f45;
    border-radius: 60px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Hero*/

/*Product*/

.product {
    padding: 5rem;
}
.product > span {
    text-align: center;
}
.product > span p {
    color: #1e2f47;
    font-size: 14px;
}
.product-sect {
    margin-top: 3rem;
}
.product-sect-header p {
    font-size: 12px;
}
.product-sect-header {
    margin-bottom: 1.5rem;
}
.grid-x4 {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
    gap: 1rem;
    margin: 0 auto;
}
.item-img {
    width: 100%;
    height: 250px;
    border: 1px solid #029FAE;
    border-radius: 6px;
    position: relative;
}
.item-img > div {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
}
.item-footer {
    padding: 1rem 0;
}
.product-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-footer p {
    font-size: 15px;
    padding-left: 2px;
}
.item-footer p:last-of-type {
    font-weight: bold;
}

/*footer*/
footer {
    background-color: #F0F2F3;
    font-size: 14px;
    padding: 2rem 4rem;
}
.top-footer {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
}
.bottom-footer {
    border-top: 1px solid #aeaeae;
    margin-top: 2rem;
    padding-top: 2rem;
}
.about-brand {
    margin: 1rem 0;
}
.c-horiz {
    display: flex;
    justify-content: center;
}