<%- include('partials/header') %>

<section class="cart">
    
    <div class="c-head">
        <h2>Shopping Cart</h2>
        <p>All selected items ready for checkout </p>
    </div>
    <div class="selected-item">
        <div class="si-cards">
            <div class="si-card flex-c">
                <div class="si-img"><img /></div>
                <div class="si-writeup">
                    <span class="si1 flex-sb-c">
                        <p class="name">Clothe Name</p>
                        <span class="close" id="closeBtn">&times;</span>
                    </span>
                    <span class="ms flex-c">
                        <p class="material">Linen</p>
                        <p class="size">Size: M</p>
                    </span>
                    <div class="qp flex-c gap1">
                        <div class="flex-sb-c gap05">
                            <button class="minus"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z"></path></svg></button>
                            <p class="qty">1</p>
                            <button class="plus"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z"></path></svg></button>    
                        </div>
                        <p>#32,500</p>
                    </div>
                    <span class="av flex-c gap025">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" viewBox="0 0 256 256"><path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        <p>In stock</p>
                    </span>
                </div>
            </div>
            <div class="si-card flex-c">
                <div class="si-img"><img /></div>
                <div class="si-writeup">
                    <span class="si1 flex-sb-c">
                        <p class="name">Clothe Name</p>
                        <span class="close" id="closeBtn">&times;</span>
                    </span>
                    <span class="ms flex-c">
                        <p class="material">Linen</p>
                        <p class="size">Size: M</p>
                    </span>
                    <div class="qp flex-c gap1">
                        <div class="flex-sb-c gap05">
                            <button class="minus"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z"></path></svg></button>
                            <p class="qty">1</p>
                            <button class="plus"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z"></path></svg></button>    
                        </div>
                        <p>#32,500</p>
                    </div>
                    <span class="av flex-c gap025">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" viewBox="0 0 256 256"><path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        <p>In stock</p>
                    </span>
                </div>
            </div>
            <div class="si-card flex-c">
                <div class="si-img"><img /></div>
                <div class="si-writeup">
                    <span class="si1 flex-sb-c">
                        <p class="name">Clothe Name</p>
                        <span class="close" id="closeBtn">&times;</span>
                    </span>
                    <span class="ms flex-c">
                        <p class="material">Linen</p>
                        <p class="size">Size: M</p>
                    </span>
                    <div class="qp flex-c gap1">
                        <div class="flex-sb-c gap05">
                            <button class="minus"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z"></path></svg></button>
                            <p class="qty">1</p>
                            <button class="plus"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z"></path></svg></button>    
                        </div>
                        <p>#32,500</p>
                    </div>
                    <span class="av flex-c gap025">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" viewBox="0 0 256 256"><path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        <p>In stock</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="order-sum">
            <h4>Order Summary</h4>
            <div class="cal">
                <div class="flex-sb-c">
                    <p>Subtotal</p>
                    <p>#248,600</p>
                </div>
                <div class="flex-sb-c">
                    <p>Shipping Fee</p>
                    <p>#8,500</p>
                </div>
            </div>
            <div class="flex-sb-c">
                <h4>Total</h4>
                <h4>#257,100</h4>
            </div>
            <a href="/checkout" class="c-button">checkout</a>
            <a href="/product" class="c-button">continue Shopping</a>
            <div>
                <span class="paym flex-c gap05">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" viewBox="0 0 256 256"><path d="M208,80H176V56a48,48,0,0,0-96,0V80H48A16,16,0,0,0,32,96V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V96A16,16,0,0,0,208,80ZM96,56a32,32,0,0,1,64,0V80H96ZM208,208H48V96H208V208Zm-68-56a12,12,0,1,1-12-12A12,12,0,0,1,140,152Z"></path></svg>
                    <p>Secured Payment with:</p>
                </span>
                <div class="pay">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000000" viewBox="0 0 256 256"><path d="M224,48H32A16,16,0,0,0,16,64V192a16,16,0,0,0,16,16H224a16,16,0,0,0,16-16V64A16,16,0,0,0,224,48Zm0,16V88H32V64Zm0,128H32V104H224v88Zm-16-24a8,8,0,0,1-8,8H168a8,8,0,0,1,0-16h32A8,8,0,0,1,208,168Zm-64,0a8,8,0,0,1-8,8H120a8,8,0,0,1,0-16h16A8,8,0,0,1,144,168Z"></path></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000000" viewBox="0 0 256 256"><path d="M224,48H32A16,16,0,0,0,16,64V192a16,16,0,0,0,16,16H224a16,16,0,0,0,16-16V64A16,16,0,0,0,224,48Zm0,16V88H32V64Zm0,128H32V104H224v88Zm-16-24a8,8,0,0,1-8,8H168a8,8,0,0,1,0-16h32A8,8,0,0,1,208,168Zm-64,0a8,8,0,0,1-8,8H120a8,8,0,0,1,0-16h16A8,8,0,0,1,144,168Z"></path></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000000" viewBox="0 0 256 256"><path d="M224,48H32A16,16,0,0,0,16,64V192a16,16,0,0,0,16,16H224a16,16,0,0,0,16-16V64A16,16,0,0,0,224,48Zm0,16V88H32V64Zm0,128H32V104H224v88Zm-16-24a8,8,0,0,1-8,8H168a8,8,0,0,1,0-16h32A8,8,0,0,1,208,168Zm-64,0a8,8,0,0,1-8,8H120a8,8,0,0,1,0-16h16A8,8,0,0,1,144,168Z"></path></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#000000" viewBox="0 0 256 256"><path d="M224,48H32A16,16,0,0,0,16,64V192a16,16,0,0,0,16,16H224a16,16,0,0,0,16-16V64A16,16,0,0,0,224,48Zm0,16V88H32V64Zm0,128H32V104H224v88Zm-16-24a8,8,0,0,1-8,8H168a8,8,0,0,1,0-16h32A8,8,0,0,1,208,168Zm-64,0a8,8,0,0,1-8,8H120a8,8,0,0,1,0-16h16A8,8,0,0,1,144,168Z"></path></svg>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>