<%- include('partials/header') %>

<section class="track-order">
    <div class="to-card bord">
        <div class="to-top flex-sb-c">
            <span>
                <h4>Order Id #13423</h4>
                <p>Order placed on <span>2nd February, 2026</span></p>
                <button>View products</button>
            </span>
            <span>
                <p>Delivery Address</p>
                <p>pickup</p>
                <p>362 Ridgewood, Alaska 99669, USA</p>
            </span>
            <span>
                <p>contact</p>
                <p>kingsley eric</p>
                <p>08164221338</p>
            </span>
        </div>
        <div class="to-bottom">
            <div class="progress"></div>
            <div class="flex-sb-c">
                <div>
                    <div class="progress-icon"></div>
                    <p>Order Placed</p>
                </div>
                <div>
                    <div class="progress-icon"></div>
                    <p>processing</p>
                </div>
                <div>
                    <div class="progress-icon"></div>
                    <p>shipped</p>
                </div>
                <div>
                    <div class="progress-icon"></div>
                    <p>Delivered</p>
                </div>
            </div>

        </div>
    </div>
</section>

<%- include('partials/footer') %>