* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 14px;
}
body {
    font-family: "Inter", sans-serif;
    position: relative;
}
/* my personal standard*/
.absolute {
    position: absolute;
}
.hide {
    display: none;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
}
.flex-sb-c {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flex-c {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gap025 {
    gap: 0.25rem;
}
.gap05 {
    gap: 0.5rem;
}
.gap1 {
    gap: 1rem;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black
}
.whiteback {
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.greyback {
    background-color: #F0F2F3;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gback {
    background-color: #029FAE;
    border-radius: 0.5rem;
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*header*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}
.pre-header {
    height: 2.8125rem;
    background-color: #272343;
    color: white;
    font-size: 0.75rem;
    padding: 1rem 5rem;
}
.main-header {
    background-color: #F0F2F3;
    font-size: 0.875rem;
    padding: 1rem 3rem;
}
.brand-img {
    border: 0.0625rem solid blue;
    width: 2rem;
    height: 2rem;
}
.brand p {
    font-size: 1.625rem;
    font-weight: bold;
}

.greenback {
    background-color: #007580;
    border-radius: 50%;
    padding: 0.1rem 0.4rem;
    color: white;
}
.greenoutline {
    border: 0.0625rem solid #013f45;
    border-radius: 3.75rem;
    width: 1.875rem;
    height: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Hero*/

/*Product*/

.product {
    padding: 5rem;
}
.product > span {
    text-align: center;
}
.product > span p {
    color: #1e2f47;
    font-size: 0.875rem;
}
.product-sect {
    margin-top: 3rem;
}
.product-sect-header p {
    font-size: 0.75rem;
}
.product-sect-header {
    margin-bottom: 1.5rem;
}
.grid-x4 {
    display: grid;
    grid-template-columns: repeat(4, 15.625rem);
    /*grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));*/
    gap: 1rem;
    margin: 0 auto;
}
.fav .item {
    width: 15.625rem;
}

.item-img {
    width: 100%;
    height: 15.625rem;
    border: 0.0625rem solid #029FAE;
    border-radius: 0.375rem;
    position: relative;
}
.item-img > div {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
}
.item-footer {
    padding: 1rem 0;
}
.product-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-footer p {
    font-size: 0.9375rem;
    padding-left: 0.125rem;
}
.item-footer p:last-of-type {
    font-weight: bold;
}

/*footer*/
footer {
    background-color: #F0F2F3;
    font-size: 0.875rem;
    padding: 2rem 4rem;
    font-size: 0.75rem;
}
.top-footer {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
}
.bottom-footer {
    border-top: 0.0625rem solid #aeaeae;
    margin-top: 2rem;
    padding-top: 2rem;
}
.about-brand {
    margin: 1rem 0;
}
.c-horiz {
    display: flex;
    justify-content: center;
}

/*Hero*/
.hero {
    height: 60dvh;
    margin: 2.5rem 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 4rem;
    background-color: #f0f2f3;
    border-radius: 0 0 3rem 3rem;
    position: relative;
}

.hero-text {
    padding: 4rem 4rem;
}
.hero-text h1 {
    font-size: 3.75rem;
    margin: 1rem 0;
}
.ht-button {
    font-size: 0.875rem;
    padding: 0.875rem 1.5rem;
    color: white;
    background-color: #029FAE;
    border: none;
    border-radius: 0.5rem;
}
.overlap {
    border-radius: 0.75rem;
    max-width: 50rem;
    width: 70%;
    padding: 1rem;
    font-size: 0.75rem;
    bottom: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0 0.5rem 0.75rem #f0f2f3;

}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.absvg svg {
    width: 2.875rem;
    height: 2.875rem;
}

/*Product-page*/
.product-page {
    margin: 10rem 2rem 4rem 2rem;
}
.p-stuff {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}
.p-page-nav {
    border: 0.0625rem solid red;
    height: 90vh;
    position: sticky;
    top: 0;
}
.product-sect-header {
    position: static;
    top: 10rem
}

/*cart*/

.cart {
    margin: 4rem 
}
.c-head {
    text-align: center;
    margin-bottom: 1rem;
}
.c-head p {
    font-size: 0.875rem;
}
.selected-item {
    display: flex;
    justify-content: space-around;
}
.si-cards {
    max-width: 43.75rem;
    width: 70%;
}
.si-card {
    border-bottom: 0.0625rem solid;
    display: grid;
    grid-template-columns: 12.5rem 2fr;
    gap: 1.5rem;
    margin-bottom: 1rem;
    
}
.si-img {
    width: 12.5rem;
    height: 12.5rem;
    border: 0.0625rem solid #029FAE;
}
.si-writeup {
    height: 12.5rem;
}

.si-writeup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.close {
    font-size: 1.75rem;
    cursor: pointer;
    color: rgb(123, 123, 123);
    line-height: 1;
}
.order-sum {
    width:  26.25rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 0.0625rem solid #DDE0E5;
    border-radius: 0.75rem;
    padding: 1.875rem;
}
.order-sum .c-button {
    width: 100%;
    height: 2.5rem;
    border-radius: 0.375rem;
    cursor: pointer;
    border: 0.0625rem solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-sum .c-button:first-of-type {
    background-color: #029FAE;
    color: white;
    border: none;
}
.order-sum button:last-of-type {
    background-color: inherit;
    border: 0.0625rem solid black;
}
.paym {
    justify-content: center;
    font-size: 0.875rem;
}
.pay {
    text-align: center;
}

/*sign-in*/
.sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100dvh - 7.3125rem);
}
.sign-in-card {
    margin: 0 auto;
    width: 40.5rem;
    padding: 1.5rem;
    border-radius: 0.75rem;
    font-size: 0.75rem;
    box-shadow: 0 0 1.875rem 0 #2723431F;
}
.sign-in-card form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sign-in-card h3 {
    text-align: center;
    margin-bottom: 1rem;
}
.indiv {
    width: 100%;
    height: 2.25rem;
    background-color: #F0F2F3;
    font-size: 1rem;
    display: flex;
    align-items: center;
    border-radius: 0.375rem;
    padding-right: 1.5rem;
}
.indiv input {
    background-color: inherit;
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 1.5rem;
}

.indiv input::placeholder {
    color: #9A9CAA;
}
.sign-in-card button {
    width: 100%;
    height: 2.5rem;
    border-radius: 0.375rem;
    cursor: pointer;
    
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-in-card button:first-of-type {
    background-color: #029FAE;
    color: white;
}
.tac {
    text-align: center;
}
.txtcolor {
    color: #007580;
    cursor: pointer;
}
.google-logo {
    width: 1.5rem;
    height: 1.5rem;
}
.google-logo img {
    width: 100%;
    height: 100%;
}

/*product des*/
.project-info {
    margin: 4rem;
}
.info-card {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: auto
}
.info-card-img {
    border: 0.0625rem solid #029FAE;
    height: 31.25rem;
    width: 28.125rem;
}
.info-card-writeup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.info-card-writeup button {
    width: 100%;
    height: 2.5rem;
    border-radius: 0.375rem;
    cursor: pointer;
    
    
}
.info-card-writeup {
    max-width: 31.25rem;
}
.info-card-writeup button:first-of-type {
    background-color: #029FAE;
    border: none;
    color: white;
}
.a-size div, .a-color div {
    border: 0.0625rem solid;
    width: 2.5rem;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.75rem;
}

/*Checkout*/
.checkout {
    font-size: 0.875rem;
    margin: 4rem 2rem;
    display: flex;
    justify-content: space-around;
}

.bord {
    border: 0.0625rem solid #DDE0E5;
    border-radius: 0.75rem;
    margin: 1rem;
    padding: 1rem;
}
.pm {
    width: 100%;
}

/*track order*/
.track-order {
    height: calc(100dvh - 7.3125rem);
}
.to-card {
    border: 0.0625rem solid #DDE0E5;
    border-radius: 0.75rem;
    margin: 2rem 4rem;
    padding: 2rem;
}
.to-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.to-top div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}
.order-info {
    display: flex;
    flex-direction: row;
    gap: 1rem
}
.order-info span {
    width: 12.5rem;
    font-size: 0.75rem;
    color: #79a2ac;
    
}
.order-info span > p:first-of-type {
    color: black;
    font-size: 0.8125rem;
}
.view-products-link {
    padding: 0.3rem 0.7rem;
    font-size: 0.75rem;
    color: white;
    background-color: #029FAE;
    border-radius: 0.25rem;
    border: none;
}
.sm {
    font-size: 0.8125rem;
}
.sm span {
    font-weight: bold;
}
.to-bottom {
    margin-top: 1rem;
}

.progress-icon {
    background-color: #CED4DA;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0.4rem;
    border-radius: 0.5rem;
}
.done {
    background-color: #029FAE;
}
.order-list {
    margin-bottom: 1rem;
}
.ol-img {
    width: 3.375rem;
    border: 0.0625rem solid;
    height: 4rem;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  font-size: 0.75rem;
}
table tr {
  border-bottom: 0.0625rem solid;
}

th {
    text-align: left;
    font-size: 0.75rem;
    padding: 1rem 0;
}

th:nth-last-child(-n+3),
td:nth-last-child(-n+3) {
  text-align: right;
  max-width: 2.1875rem;
}

/*fav*/
.favourite {
    margin: 4rem;
    
}
.fav-center {
    display: flex;
    flex-direction: row;
    gap: 2rem
}
.fav h3 {
    margin-bottom: 4rem;
}
.fav .item {
    width: 15.625rem;
}

/*profile nav*/
.profile-nav {
    width: 18.75rem;
    height: fit-content;
    border: 0.0625rem solid #2723431F;
    background-color: white;
    position: fixed;
    top: 8rem;
    right: 1rem;
    padding: 1.5rem;
    border-radius: 8px;
    z-index: 120;
}
.profile-nav hr {
    margin: 1rem 0;
    border: 0.0625rem solid #2723431F;
}
.inner {
    padding: 1rem 1rem 0 1rem;
    font-size: 12px; 
}
.user-p-pic {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid;
}

/*edit-profile*/
.edit-section {
    margin: 10rem auto;
    display: flex;
    justify-content: center;
}
.edit {
    width: 70%;
    border-radius: 8px;
    border: 1px solid #029FAE;
    overflow: hidden;
    max-width: 400px;
}
.edit-head {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    position: relative;
}
.edit-head h4 {
    text-align: center;
}

.edit-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #029FAE;
}
.yo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem
}

.edit-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 1rem;
}
.edit-footer button {
    padding: 0.5rem;
    font-size: 10px;
    border-radius: 4px;
}
.edit-footer button:first-of-type {
    border: 1px solid #029FAE;
    background-color: inherit;

}
.edit-footer button:last-of-type {
    border: none;
    background-color: #029FAE;
    color: white;
}
.edit-body {
    border-top: 1px solid #029FAE;
    border-bottom: 1px solid #029FAE;
}
.edit-body > div {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}
.edit-body > div input {
    width: 100%;
    border-radius: 2px;
    border: 1px solid #029FAE;
    padding: 0.5rem;
}
.c {
    border-top: 1px solid #029FAE;
    border-bottom: 1px solid #029FAE;
}