* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: "Inter", sans-serif;;
}
/* my personal standard*/
.absolute {
    position: absolute;
}
.hide {
    display: none;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 24px;
}
.flex-sb-c {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flex-c {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gap025 {
    gap: 0.25rem;
}
.gap05 {
    gap: 0.5rem;
}
.gap1 {
    gap: 1rem;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black
}
.whiteback {
    background-color: white;
    border-radius: 8px;
    padding: 0.25rem 0.5rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.greyback {
    background-color: #F0F2F3;
    border-radius: 8px;
    padding: 0.5rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gback {
    background-color: #029FAE;
    border-radius: 8px;
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*header*/
header {
    width: 100%;
}
.pre-header {
    height: 45px;
    background-color: #272343;
    color: white;
    font-size: 12px;
    padding: 1rem 5rem;
}
.main-header {
    background-color: #F0F2F3;
    font-size: 14px;
    padding: 1rem 3rem;
}
.brand-img {
    border: 1px solid blue;
    width: 32px;
    height: 32px;
}
.brand p {
    font-size: 26px;
    font-weight: bold;
}

.greenback {
    background-color: #007580;
    border-radius: 50%;
    padding: 0.1rem 0.4rem;
    color: white;
}
.greenoutline {
    border: 1px solid #013f45;
    border-radius: 60px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Hero*/

/*Product*/

.product {
    padding: 5rem;
}
.product > span {
    text-align: center;
}
.product > span p {
    color: #1e2f47;
    font-size: 14px;
}
.product-sect {
    margin-top: 3rem;
}
.product-sect-header p {
    font-size: 12px;
}
.product-sect-header {
    margin-bottom: 1.5rem;
}
.grid-x4 {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
    gap: 1rem;
    margin: 0 auto;
}
.item-img {
    width: 100%;
    height: 250px;
    border: 1px solid #029FAE;
    border-radius: 6px;
    position: relative;
}
.item-img > div {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
}
.item-footer {
    padding: 1rem 0;
}
.product-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-footer p {
    font-size: 15px;
    padding-left: 2px;
}
.item-footer p:last-of-type {
    font-weight: bold;
}

/*footer*/
footer {
    background-color: #F0F2F3;
    font-size: 14px;
    padding: 2rem 4rem;
    font-size: 12px;
}
.top-footer {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
}
.bottom-footer {
    border-top: 1px solid #aeaeae;
    margin-top: 2rem;
    padding-top: 2rem;
}
.about-brand {
    margin: 1rem 0;
}
.c-horiz {
    display: flex;
    justify-content: center;
}

/*Hero*/
.hero {
    height: 60dvh;
    margin: 2.5rem 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 4rem;
    background-color: #f0f2f3;
    border-radius: 0 0 48px 48px;
    position: relative;
}

.hero-text {
    padding: 4rem 4rem;
}
.hero-text h1 {
    font-size: 60px;
    margin: 1rem 0;
}
.hero-text button {
    font-size: 14px;
    padding: 14px 24px;
    color: white;
    background-color: #029FAE;
    border: none;
    border-radius: 8px;
}
.overlap {
    border-radius: 12px;
    max-width: 800px;
    width: 70%;
    padding: 1rem;
    font-size: 12px;
    bottom: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0 8px 12px #f0f2f3;

}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.absvg svg {
    width: 46px;
    height: 46px;
}

/*Product-page*/
.product-page {
    margin: 4rem 2rem;
}
.p-stuff {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}
.p-page-nav {
    border: 1px solid red;
    height: 90vh;
    position: sticky;
    top: 0;
}
.product-sect-header {
    position: static;
    top: 10rem
}

/*cart*/

.cart {
    margin: 4rem 2rem;
}